<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./layouts/styles"); %>
    <title>Application Parameters | Whisper Admin</title>
</head>
<body>
    <%- include("./components/navbar"); %>
    <main class="container mx-4 sm:mx-auto my-6">
        <%- include("./components/param-table"); %>
    </main>
</body>
</html>